a {
  margin-top: 4px;
  color: #fff;
  display: block;
  cursor: pointer;
}

.hide{
  display: none;
}
.tree{
  min-width: 300px;
  min-height: 400px;
  padding: 10px;
  padding-left: 20px;
  background-color: #000;
  overflow: auto;
  color: #fff;
}

.root{
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  /*text-transform: uppercase;*/
  position: relative;
}

.root:hover{
  color:#a1a2a2;
}

.leaf{
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  text-transform: none;
}

.root::before,.root.open::before {
    position: absolute;
    left: -8px;
    font-size: 10px;
    line-height: 20px;
}
.root::before{
    content: '>';
}
.root.open::before {
    content: '-';
}

button{
    background: #e3714d;
    padding: 5px 10px 5px;
    border: none;
    color: #fff;
    margin-top: 5px;
}